# ==========================
# Flutter (Frontend)
# ==========================
Frontend/build/
Frontend/.dart_tool/
Frontend/.packages
Frontend/.flutter-plugins
Frontend/.flutter-plugins-dependencies

# ==========================
# Node.js (Backend)
# ==========================
backend/node_modules/
backend/.env
backend/.env.*
backend/npm-debug.log*
backend/yarn-error.log*

# ==========================
# IDE
# ==========================
.idea/
.vscode/
*.iml

# ==========================
# Android Studio / Kotlin
# ==========================
Frontend/android/.kotlin/

# ==========================
# Operating System
# ==========================
.DS_Store
Thumbs.db